#splash {
    position: fixed;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, .99);
    transition: all 1s ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#splash .loading {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
}

#splash .start-button {
    padding: 10px 30px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity .5s ease;
    cursor: pointer;
    background-color: #292929;
    letter-spacing: 1px;
}