<html>
  <head>
	<script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  </head>
  <body>
    <script>
      AFRAME.registerComponent('random-color', {

        schema: {
          temps: {type: 'number', default:1}
        },

        dependencies: ['material'],

        init: function () {
          this.el.setAttribute('material', 'color', getRandomColor());
          this.t = 0;
        },

        tick: function (time, timeDelta) {
          if(this.t == this.data.temps*60) {
            this.el.setAttribute('material', 'color', getRandomColor());
            this.t = 0;
          }
          this.t++;
        }
      });

      function getRandomColor() {
        const letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }


    </script>
    <a-scene>
      <a-sphere random-color position="-2.5 1.6 -3"></a-sphere>
      <a-sphere random-color="temps:2" position="0 1.6 -3"></a-sphere>
      <a-sphere random-color="temps:3" position="2.5 1.6 -3"></a-sphere>
    </a-scene>
  </body>
</html>
