<html>
  <head>
	<script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  </head>
  <body>
    <script>
        AFRAME.registerComponent('log', {

          schema: {
            event: { type: 'string', default: '' },
            message : { type: 'string', default: 'Hello!' },
          },

          multiple:true,

          init: function () {
            var self = this;
            this.eventHandlerFn = function () { console.log(self.data.message); };
          },


          update: function (oldData) {

            var data = this.data;
            var el = this.el;

            if (oldData.event && data.event !== oldData.event) {
              el.removeEventListener(oldData.event, this.eventHandlerFn);
            }

            if (data.event) {
              el.addEventListener(data.event, this.eventHandlerFn);
            } else {
              console.log(data.message);
            }
          },

          remove: function () {
            var data = this.data;
            var el = this.el;

            if (data.event) {
              el.removeEventListener(data.event, this.eventHandlerFn);
            }
          }


        });


    </script>
    <a-scene>
      <a-box log__helloworld="message:Hello World!" position="-1 1.6 -3" color="red"></a-box>
      <a-box log__hellomoon="message:Hello Moon!" position="+1 1.6 -3" color="blue"></a-box>
    </a-scene>
  </body>
</html>
