<html>
  <head>
	<script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
  </head>
  <body>
    <script>

      AFRAME.registerComponent('keyboard-button', {

        schema:{
          tecla : {type:'string'}
        },

        init: function() {

          const el = this.el;
          this.isMouseEnter = false;
          var data = this.data;


          // Text de la tecla

          let text = document.createElement('a-text');
          text.setAttribute('value', this.data.tecla);
          text.setAttribute('align', 'center');
          text.setAttribute('color', 'black');
          el.appendChild(text);


          // Event Listeners

          el.addEventListener('mousedown', function() {
            el.setAttribute('material', 'opacity', '1');
            el.emit('keyboardPressed', {tecla : data.tecla});
          });

          el.addEventListener('mouseup', () => {
            el.setAttribute('material', 'opacity', this.isMouseEnter ? '0.9' : '0.5');
          });

          el.addEventListener('mouseenter', () => {
            console.log("MOUSE ENTER");
            el.setAttribute('material', 'opacity', '0.9');
            this.isMouseEnter = true;
          });

          el.addEventListener('mouseleave', () => {
            el.setAttribute('material', 'opacity', '0.5');
            this.isMouseEnter = false;
          });
        },
      });

    </script>

    <a-scene background="color:#222">

      <a-assets>
        <a-mixin id="tecla" geometry="primitive:plane;width:1;height:1" material="color:#AAA;opacity:0.5" ></a-mixin>
      </a-assets>

      <a-camera>
        <a-entity cursor="fuse:true; fuseTimeout:1500"  raycaster="objects:[keyboard-button]" position="0 0 -1"
                  geometry="primitive:sphere; radius:0.01"
                  material="color: #FF0; shader:flat; opacity:0.5">
        </a-entity>
      </a-camera>

      <a-text id="input" font="dejavu" color="#FFF" value="" position="0 2 -2" align="center"></a-text>

      <a-entity id="teclat" position="0 1 -5">

        <a-entity position="-2 0 0" mixin="tecla" keyboard-button="tecla:1"></a-entity>
        <a-entity position="-1 0 0" mixin="tecla" keyboard-button="tecla:2">></a-entity>
        <a-entity position="0 0 0" mixin="tecla" keyboard-button="tecla:3"></a-entity>
        <a-entity position="-2 -1 0" mixin="tecla" keyboard-button="tecla:4"></a-entity>
        <a-entity position="-1 -1 0" mixin="tecla" keyboard-button="tecla:5">></a-entity>
        <a-entity position="0 -1 0" mixin="tecla" keyboard-button="tecla:6"></a-entity>
        <a-entity position="-2 -2 0" mixin="tecla" keyboard-button="tecla:7"></a-entity>
        <a-entity position="-1 -2 0" mixin="tecla" keyboard-button="tecla:8">></a-entity>
        <a-entity position="0 -2 0" mixin="tecla" keyboard-button="tecla:9"></a-entity>

      </a-entity>

    </a-scene>
    <script>
      function updateInput(e) {
        let tecla = parseInt(e.detail.tecla);
        document.querySelector('#input').setAttribute('value', tecla);
      }
      document.addEventListener('keyboardPressed', updateInput);
    </script>
  </body>
</html>
